asgiref==3.2.7
astroid==2.3.3
colorama==0.4.3
decorator==4.4.2
Django==3.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
psutil==5.7.0
pylint==2.4.3
pyte==0.8.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.1
thefuck==3.29
typed-ast==1.4.0
wcwidth==0.1.8
wrapt==1.11.2
